[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
torch = {file = "https://download.pytorch.org/whl/cu102/torch-1.10.0%2Bcu102-cp39-cp39-win_amd64.whl"}

[dev-packages]

[requires]
python_version = "3.9"
